/* popup */
.btn_guide_box{border:1px solid #ddd;padding:20px;color:#000;display:inline-block;}
/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:742px;margin:30px auto; max-height:calc(100% - 60px); background:#fff; border-radius:8px; border:1px solid #BBBBBB; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
    &.size2{
        max-width:636px;
    }
    &.xsmall{max-width:300px;}
    &.medium{max-width:1060px;}
    &.xmedium{max-width:900px;}
    &.medium_large{max-width:600px;}
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}

.popup_title_row{flex:0;word-break: keep-all; text-align: center;
    border-bottom:1px solid #e7e7e7;padding:25px 45px;text-align: center;
    &.define_text{
        text-align: left;
    }
    & + .popup_contents_row{padding-top:0;}
}
.popup_title{font-size:32px;color:#333333;font-weight:700;letter-spacing: -0.05em;line-height:1.3; font-weight:600;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;overflow-y:overlay;flex:1;font-size:16px;color:#333333;padding:30px 45px 45px;
    &.scroll_mode{padding-right:35px;}
    & + .popup_btn_row{padding-top:0;}
    .section_brick_group{padding-top:25px;}
    
    .field_list_tr{gap:15px 20px;margin-right:-20px;
        > li{flex-basis: calc(50% - 20px);}
    }
    .ui-widget-content{position:absolute !important;}
}
.popup_contents_inner{
    &.ptype2{padding-top:30px;}
}
.popup_primary_title{font-size:21px; color:#1b1b1b; font-weight:500;}
.popup_title_copy{font-size:13px; color:#999999;}


.touchmode {
    .popup_contents_row{
        &.scroll_mode{padding-right:70px;}
    }
}
.popup_btn_row{flex:0;padding:0 30px 30px;display:flex;justify-content: center; position:relative; box-sizing: border-box;
    &:after{display:block;content:'';width:calc(100% - 10px);height:30px; position:absolute;top:-30px;left:0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    }
    &.type2{
        flex-direction: column;gap:16px;
    }
}
.touchmode{
    .popup_btn_row{
        &:after{
            width:calc(100%);
        }
    }
}

.btn_submitbox_w{display:flex;margin:0;padding:25px; justify-content: center;
    .btn_submitbox{margin:0 2.5px;}
}

.btn_submitbox{display:inline-block;word-break:keep-all;vertical-align:middle;box-sizing:border-box;border:0;font-size:17px; font-weight:500;text-align:center;min-width:400px; color:#fff;background:#3f4858;border-radius:100px;padding:15px 20px;

    &.inline_type{flex:0;min-width:inherit;white-space: nowrap;border-radius:4px;}
    &.small{font-size:14px;line-height:1;padding:12px}
}
/* .btn_popup_close{display:inline-block;width:30px;height:30px;position:absolute;top:55px;right:70px;
    &:before,
    &:after{width:42px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#221E1F; margin:-1px 0 0 -21px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
    &.pos2{top:30px;right:30px;}
}

 */
.btn_popup_close{display:block;width:30px;height:30px;background:url("../images/btn_popup_close.png") no-repeat 50% 50%/14px auto;position:absolute;top:20px;right:24px;

    &.type2{top:18px;}
    &.type3{right:15px;}
}

.popup_confirm_copy_wrap{
    text-align: center; padding:50px 30px;
}
.popup_confirm_copy{font-size:17px;color:#333333; word-break: keep-all;}


@media (max-width:$mobile_large){
    .popup_item{width:calc(100% - 40px);}
    .popup_title_row{padding:20px 50px 20px 20px;}
    .popup_title{font-size:20px;}
    .btn_popup_close{width:22px;height:22px; top:20px;right:20px;
        &:before,
        &:after{width:24px;margin:-1px 0 0 -12px;}
        &.pos2{top:20px;right:20px;}
    }
    .popup_primary_title{font-size:18px;}
    .popup_title_copy{font-size:13px;}
    .popup_contents_row{font-size:14px;padding:20px 20px 35px;
        &.scroll_mode {padding-right:10px;}
        .section_brick_group{padding-top:20px;}
    }
    .touchmode {
        .popup_contents_row{
            &.scroll_mode{padding-right:20px;}
        }
    }
    .popup_btn_row{padding:20px; 
        &:after{height:20px;top:-20px;}
        &.type2{
            gap:10px;
        }
    }
    .popup_contents_inner{
        &.ptype2{padding-top:20px;}
    }
}
/* // 공통 popup */



.btn_box{
    display:inline-flex;min-width:150px; min-height: 50px; background:#13479b; border-radius:100px; justify-content: center; align-items: center; gap:10px; box-sizing: border-box; padding: 0 10px;
    &.size2{
        min-height:35px;
        .btn_box_text{font-size:16px;}
    }
    &.size_submit{
        min-width:220px;
    }
    .ico{
        display:inline-block;
        &.down{width:17px;height:15px; background:url("../images/ico_download.png") no-repeat 0 0/100% auto;}
    }
}
.btn_box_text{color:#fff; font-size:18px; font-weight:500; display:inline-block;}


@media (max-width:1023px){
    .btn_box{
       min-width:120px;
       &.size2{
            min-height:30px; min-width:0;gap:5px;
            .btn_box_text{font-size:14px;}
        }
        .ico{
            &.down{width:12px;height:11px;}
        }
    }
    .btn_box_text{font-size:16px;}
}


/* form */
.props_item{
    display:inline-flex; gap:10px; align-items: flex-start;
}
input.props_form{
    appearance: none; cursor: pointer;  box-sizing: content-box;
    &[type="checkbox"]{background:url("../images/ico_checkbox.png") no-repeat 0 0/100% auto;width:21px;height:21px;border:1px solid #bfbfbf; border-radius:3px;
        &:checked{
            background-position:0 100%; background-color:#3791f3; border-color:#3791f3;
            & + .props_label{}
        }
    }
    &[type="radio"]{
        background:url("../images/ico_radio.png") no-repeat 0 0/100% auto;width:22px;height:22px;border:1px solid #bfbfbf; border-radius:100%;
        &:checked{
            background-position:0 100%; border-color:#3791f3;
            & + .props_label{}
        }
        & + .props_label{}
    }
}
.props_label{cursor: pointer; font-size:16px; color:#444444; line-height:1.3;}
.props_item{}


select.form_select{
    border:1px solid #ccc; border-radius:5px; width:100%; font-size:15px;height:48px;;color:#2d2d2d;padding: 0 56px 0 15px;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;
    background: #fff url("../images/ico_select.png") no-repeat 100% 100%/auto 48px;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#2d2d2d;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#2d2d2d;
    }
    &.placeholder{color:#b5b5b5;}
    &:disabled{background-color:#f7f7f7;color:#b5b5b5;opacity:1;}
}
select.form_word_select{
    font-size:15px;color:#333;padding: 3px 25px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer; border:0; display:inline-block;
    background: url("../images/ico_single_select.png") no-repeat 100% 50%/17px auto;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#333333;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#333333;
    }
    &.placeholder{color:#b5b5b5;}
    &:disabled{background-color:#f7f7f7;color:#333333;opacity:1;}
}

.form_word_combo{
   padding: 3px 25px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;display:inline-flex; align-items: center; gap:5px;
    background: url("../images/ico_single_select.png") no-repeat 100% 50%/17px auto;line-height: 1;
    .ico{
        flex:0 0 20px; width:20px; height:20px; @include bgicon;margin-right:3px;
        &.filter{
            background-image:url("../images/ico_filter.png");
        }
    }
    .word_key{ font-size:15px;color:#333; display:inline-block; line-height:1;}
    .word_count{font-size:18px; color:#000000; display:inline-block; line-height:1; position:relative;top:-1px;}
}

@media (max-width:1023px){
    input.props_form{
        &[type="checkbox"]{width:16px;height:16px; flex:0 0 16px;
        }
        &[type="radio"]{
            width:16px;height:16px; flex:0 0 16px;
        }
    }
    .props_label{font-size:14px;position:relative;top:-1px;}
    .props_item{gap:7px;}
    
    select.form_select{height:40px;font-size:14px;}
    select.form_word_select{font-size:14px;}

    .form_word_combo{
        padding: 3px 25px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;display:inline-flex; align-items: center; gap:5px;
         background: url("../images/ico_single_select.png") no-repeat 100% 50%/17px auto;line-height: 1;
         .ico{
             flex:0 0 20px; width:20px; height:20px; @include bgicon;margin-right:3px;
             &.filter{
                 background-image:url("../images/ico_filter.png");
             }
         }
         .word_key{ font-size:14px;}
         .word_count{font-size:16px;top:0;}
     }
}