/* contents */

/* swiper 공통 */
.d_mv_bottom_control_zone{position:absolute;bottom:12px;left:0;width:100%;z-index:10;text-align: center;}
.d_mv_bottom_control_wrap{max-width:1200px;padding:0 20px;margin:0 auto;}
.d_mv_bottom_in_control{display:inline-flex;justify-content: center;align-items:center;background:rgba(0,0,0,.3);border-radius:100px;padding:8px 25px;}
.d_mv_bottom_cols{margin:0 6px;}

.d_mv_control_wrap{position:absolute;top:50%;left:0;height:0;z-index:10;width:100%;}
.btn_d_mv_control{display:flex;width:50px;height:50px;align-items: center;justify-content: center;position:absolute;top:0;transform: translateY(-50%);}
.btn_d_mv_control:after{display:block;content:'';width:15px;height:15px; margin:-7px 0 0 -3px; position:absolute;top:50%;left:50%; transform: rotate(225deg); border-right:2px solid #fff; border-top:2px solid #fff;}
.btn_d_mv_control.prev{}
.btn_d_mv_control.next{right:0;}
.btn_d_mv_control.next:after{transform: rotate(45deg);margin-left:-12px;}

.swiper-pagination.d_mv_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.d_mv_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination.d_mv_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#000000;}
.d_mv_swiper_auto_control_list{border:1px solid rgba(255,255,255,.22);display:flex;align-items: center;border-radius:3px;font-size:0;line-height:0;}
.d_mv_swiper_auto_control_list > li{border:1px solid rgba(255,255,255,.22);border-right:0;}
.d_mv_swiper_auto_control_list > li:last-of-type{}
.btn_d_mv_stop,
.btn_d_mv_play{display:inline-block;width:30px;height:30px;background:url("../images/btn_main_play.png") no-repeat 0 0/100% auto;}
.btn_d_mv_stop{}
.btn_d_mv_play{background-position:0 100%;}
.d_mv_control_in_wrap{max-width:1200px;margin:0 auto;position:relative;}
.detail_multi_visual_wrap{max-width:1200px;margin:0 auto;position:relative;}
.detail_multi_visual_wrap .d_mv{display:block;height:0;padding-bottom:100%;position:relative;}
.detail_multi_visual_wrap .d_mv > img{display:block;width:100%;height:100%;position: absolute;top:0;left:0;object-fit: cover; object-position: 50% 50%;}
@media (max-width:1023px){
    .d_mv_bottom_in_control{padding:5px 15px;}
    .btn_d_mv_stop, .btn_d_mv_play{width:20px;height:20px;}
}



/* detail- visual */
.detail_grid_visual_wrap{display:flex;gap:10px;max-width:1200px;margin:0 auto;position:relative;}
.detail_grid_main_cols{flex:1;min-width:0;position:relative;overflow:hidden; border-radius:18px;}
.detail_grid_sub_cols{flex:0 0 390px;}
.dgrid_thum_list{display:flex;flex-wrap:wrap;gap:10px 0;height:100%;margin:0 -5px;}
.dgrid_thum_list > li{flex:0 0 50%;box-sizing: border-box;width:50%;padding:0 5px;}
.dgrid_thum_item{display:flex;width:100%;height:0;padding-bottom:100%;position:relative;overflow:hidden; border-radius:18px;}
.dgrid_thum_item img{display:block;vertical-align: top;position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;}
.dgrid_more_item{z-index:2;position:absolute;top:0;left:0;display:flex;align-items: center;justify-content: center;width:100%;height:100%;color:#fff;font-size:18px;font-weight:500;background:rgba(0,0,0,0.4);}
.detail_grid_imgitem{height:390px;}
.detail_grid_imgitem img{display:block;vertical-align: top;position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;}


/*  */
.gallery_main_swiper_wrap{padding:0 40px;margin:40px 0 0 0;position:relative;}
.gallery_main_swiper_wrap img{vertical-align: top;}
.gallery_imgcaption_row{padding:0 40px;}
.btn_gallery_ms_control{display:block;z-index:2;width:18px;height:30px;position:absolute;top:50%;transform: translateY(-50%);}
.btn_gallery_ms_control:after{display:block;content:'';width:18px;height:18px;border-right:2px solid #5f5f5f;border-bottom:2px solid #5f5f5f;transform: rotate(-225deg);position:absolute;top:5px;left:5px;}
.btn_gallery_ms_control.prev{left:0;}
.btn_gallery_ms_control.next{right:0;}
.btn_gallery_ms_control.next:after{transform: rotate(-45deg);left:-7px;}
.gallery_imgcaption{font-size:15px;color:#4e4e4e;line-height:1.5;}

.gallery_fraction_wrap{min-height:20px;display:flex;justify-content: center;align-items: center;text-align: center;color:#000000;font-size:15px;}
.gfraction_current{font-size:17px;font-weight:500;}
.gfraction_part{display:inline-block;padding:0 1px;}
.gfraction_length{display: inline-block;position:relative;top:1px;}


@media (max-width:1023px){
    .detail_grid_visual_wrap{display:block;}
    .detail_grid_main_cols{border-radius:0;}
    .detail_grid_sub_cols{display:none;}

    .detail_grid_imgitem{height:auto;}
    .detail_grid_imgitem img{width:100%;height:auto;object-fit: contain;position:static}
}
