/* layout */
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}

.front_body{
    &.main{
        overflow:hidden;
        .page_wrap{}
        .header_wrap{position:fixed;top:0;left:0;width:100%;}
    }
}
.page_wrap{
    min-width:280px; /* display:flex;flex-direction: column; */ overflow-x:hidden; position:relative; /* min-height:100vh; */
    
}
.bg_depth{background:#fff;position:absolute;top:80px;left:0;width:100%;height:0;transition:.4s;box-sizing: border-box; overflow:hidden;
    &:before,
    &:after{display:block;content:'';background:#e6e6e6;height:1px;position:absolute;left:0;width:100%;}
    &:before{top:0;}
    &:after{bottom:0;}
}
.header_wrap{height:80px;display:flex; align-items: center;width:100%; justify-content: center;position:relative; background:transparent; transition:.4s; z-index:20;
    &.ready{overflow:visible;
    }
    &.active{
        background:#fff;  
        .toplogo_link{background-position:0 100%;}
        .header_nav_menu{color:#0f0f0f;}
        .util_menu{
            .ico{
                background-position:0 100%;
            }
            .util_menu_text{color:#404040;}
        }
    }
}
.header_inner{padding:0 0;position:relative;width:100%;height:100%;}
.toplogo{display:inline-flex;position:absolute;top:50%;left:50px;transform: translateY(-50%);align-items: flex-start;}
.toplogo_link{
    display:inline-block; width:171px;height:22px; background:url("../images/toplogo.png") no-repeat 0 0/100% auto; vertical-align: top; 
}
.nav_list_wrap{height:100%;}
.header_nav_list{
    display:flex;height:100%; gap:6.25%; justify-content: center;/*  position:relative; */
    >li{
        // position:relative;
        &:hover{
            .header_two{}
        }
        &.active{
            z-index:5;
            .header_nav_menu{color:#13479b;}
            .header_two_list_wrap{opacity:1;}
        }
    }
}
.header_nav_menu{display:inline-flex; height:100%; align-items: center;  color:#fff; font-size:17px; font-weight:500;}

/* 
.bg_depth{background:#fff;position:absolute;top:80px;left:0;width:100%;height:0;transition:.4s;box-sizing: border-box; overflow:hidden;
    &:before,
    &:after{display:block;content:'';background:#e6e6e6;height:1px;position:absolute;left:0;width:100%;}
    &:before{top:0;}
    &:after{bottom:0;}
}
*/

.header_two_list_wrap{position:absolute;top:100%; left:0; height:0; width:100%; overflow:hidden; transition:.5s;  opacity:0; background:#fff;
    &.type2{
        .header_two_inner{
            /* width:100%; left:0;  transform: translateX(0);  justify-content: flex-start; */ transform:translateX(0);
            .header_two_list{display:block; margin-top:25px; padding:0;
                > li{
                    margin-bottom:20px;
                    &:last-of-type{margin-bottom:0;}
                }
            }
        }
    }
    &:before,
    &:after{display:block;content:'';background:#e6e6e6;height:1px;position:absolute;left:0;width:100%;}
    &:before{top:0;}
    &:after{bottom:0;}
    /* &.out{
        transition: .3s; transition-delay:0;
    } */
}
.header_two_inner{display:inline-flex; position:relative; transform:translateX(-50%); /*  justify-content: center; */ box-sizing: border-box; /* position:absolute;top:0; left:50%; transform: translateX(-50%); */}
.header_two_menu_cols_wrap{display:flex;  justify-content: flex-start; width:100%;}
.header_two_menu_cols{padding:30px 0;width:170px;}
.nav_depth_category{font-size:15px;color:#333333; font-weight:600;white-space: nowrap;}
.header_two_list{
   display:flex; flex-wrap:wrap; gap:40px; padding:30px 0;
}
.header_two{display:inline-block;font-size:15px; color:#747474; border-bottom:1px solid transparent;}
.header_two:hover{border-color:#13479b; color:#13479b; font-weight:500;}

.util_list_wrap{position:absolute;top:50%;right:40px;transform: translateY(-50%);}
.util_list{
    >li{
        &:last-of-type{}
    }
}
.util_menu{
    display:inline-flex; gap:7px;line-height:1;
    .ico{
        width:18px;height:18px; flex:0 0 18px; background-repeat:no-repeat; background-size:100% auto; background-position: 0 0;
        &.earth{background-image:url("../images/ico_earth.png");}
    }
}
.util_menu_text{font-size:14px; font-weight:500; color:#fff; display:inline-block;}


.btn_panel_menu{
    display:none;align-items:center;justify-content:center;width:60px;height:60px;border-radius: 100%; z-index:5; position:absolute; top:0;right:0;flex-direction:column; align-items: center; justify-content: center;
    &:before,
    &:after{display:block;content:'';width:20px;height:2px;background:#fff;border-radius:2px;}
}
.btn_panel_menu_ico{display:block;width:20px;height:2px;background:#fff;border-radius:2px;margin:5px 0;}

.mobile_mainmenu_zone{
    display:none;position:fixed;top:0;right:0;width:100%;height:100%;z-index:50;
    &.active{
        display:block;
        &.motion .mobile_mainmenu_wrap{right:0;}
        &.active.motion .mainmenu_dim{opacity:0.8;}
    }
}

/* mobile */
.mainmenu_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;transition: .5s;}
.mobile_mainmenu_wrap{width:247px;background:#fff;position:fixed;top:0;right:-247px;height:100%; transition: .5s;display:flex;flex-direction: column;}
.mbutil_row{
    background:#13479b; flex:0 0 60px; display:flex; align-items: center; padding:0 20px;
    .util_list{
         > li{
            &:last-of-type{}
         }
    }
    .util_menu{
        vertical-align: middle; align-items: center;
        .ico{
            &.earth{}
        }
    }
}
.mbmenu_row{position:relative;overflow-y:auto;flex:1;}
.mbmenu_inwrap{}
.mbmenu_nav_list{
    > li{
        border-bottom:1px solid #dadada;
        &.active{
            .mbmenu_nav_menu{
                &:after{
                    top:21px;
                    transform:rotate(225deg);
                }
            }
            .mbmenu_two_list_wrap{display:block;}
        }
        &:last-of-type{}
    }
}
.mbmenu_nav_menu{display:block;color:#000;font-size:16px;padding:15px 45px 15px 20px;line-height:1;position:relative;font-weight:500;
    &:after{
        display:block;content:'';width:8px;height:8px;border-right:1px solid #555;border-bottom:1px solid #555;
        position:absolute;top:16px;right:20px;
        transform: translateZ(0);
        transform:rotate(45deg);
    }
}

.mbmenu_two_list_wrap{text-align:left;background:#f5f5f5;border-top:1px solid #dadada;display:none;}
.mbmenu_two_menu_row{padding:15px 0 0 0;}
.mbmenu_depth_category{font-weight:600; color:#000; padding:0 30px; font-size:14px;}
.mbmenu_two_list{
    padding:10px 0;
    > li{
        &:last-of-type{}
        &.active{
            .mbmenu_two{color:#13479b; font-weight:500; text-decoration: underline;}
        }
    }
    &.type2{
        > li{
            &:last-of-type{}
        }
    }
}
.mbmenu_two{display:inline-block;padding:7px 30px; font-size:14px; 
    &:hover{ color:#13479b; font-weight:500; text-decoration: underline;}
}


.btn_mbmenuclose{display:block; width:60px;height:60px;z-index:10;background:url("../images/btn_totalclose.png") no-repeat 50% 50%/100% auto;position:absolute;top:0;right:0;z-index:5;}

/* // mobile */

.sub_visual_wrap{min-height:400px; position:relative; display:flex;flex-direction: column; background-repeat:no-repeat; background-size:cover; background-position:50% 50%;
    &:before{display:block;content:'';width:100%;height:100%;background:#141414;opacity:.4;position:absolute;top:0;left:0;}
    .header_wrap{flex:0 0 80px;}
}
.sv_inner{flex:1;position:relative;display:flex;flex-direction: column;height:100%;justify-content: space-between;}
.sv_copy_wrap{padding:60px 86px;max-width:1200px;margin:0 auto;width:100%; }
.sv_copy_group{}
.sv_copy_sub{font-size:22px;color:#fff;opacity:.7;margin-bottom:8px;}
.sv_copy_main{font-size:64px; font-weight:700; color:#fff; word-break: keep-all;}
.breadcrumb_list_wrap{padding:0 0 30px 0;max-width:1200px;margin:0 auto;width:100%;}
.breadcrumb_list{
    display:flex;gap:5px 27px; align-items: center; flex-wrap:wrap;
    >li{
        position:relative;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:3px;height:3px;border-radius: 100%;background:#fff; position:absolute;top:50%;right:-14px;margin-top:-1.5px}
    }
}
.breadcrumb_ico_link{display:inline-block;width:16px;height:16px;background:url("../images/ico_home.png") no-repeat 0 0/100% auto; vertical-align: middle;}
.breadcrumb_link{font-size:16px; display:inline-block; font-weight:500; color:#ffffff; }

.middle_wrap{}
.middle_sub_contents{padding:100px 86px;margin:0 auto;max-width:1200px;}

.footer_wrap{flex:0;background:#1e2327;position:relative;}
.footer_inner{padding:50px 0;}
.footer_logo_cols{display:inline-flex;position:absolute;top:50px;left:50px;align-items: flex-start;}
.footer_logo{ display:inline-block; width:171px;height:22px; background:url("../images/toplogo.png") no-repeat 0 0/100% auto; vertical-align: top;}
.footer_info_cols{max-width:1200px;margin:0 auto;padding:0 86px;position:relative; line-height:1.4;}
.footer_info_wrap{display:flex;flex-direction: column;gap:8px;}
.footer_info_para{font-size:14px; color:#ffffff; word-break: keep-all;}
.footer_copy_para{color:#787878; margin-top:25px; font-size:14px; word-break: keep-all;}
.footer_info_para_list{
    display:flex; flex-wrap:wrap; gap:10px 22px;
    >li{
        position:relative;
        &:after{display:block;content:'';width:1px; height:12px; background:#616568; position:absolute;top:50%;right:-12px;margin:-6px 0 0 0;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
    .footer_info_para{}
}
.btn_top_go{
    display:flex; flex-direction: column; justify-content: center; align-items:center; width:54px;height:54px;border-radius:100%; background:#fff; position:absolute;top:0;right:32px;
    &:before{display:block;content:'';width:7px;height:7px; border-top:1px solid #333333; border-left:1px solid #333333; transform: rotate(45deg);position:relative; margin-bottom:3px;}
}
.btn_top_go_text{font-size:13px; color:#333333;}


@media (min-width:1920px){
    .header_nav_list{gap:120px}
}
@media (max-width:1680px){
    .header_inner{display:flex;justify-content: space-between; align-items: center;padding:0 30px;}
    .toplogo,
    .util_list_wrap{position:static;transform: none;}
    .header_nav_list{gap:60px;}
    .header_nav_menu{white-space: nowrap;}

    .footer_inner{display:flex;gap:50px;padding:50px 30px;}
    .footer_logo_cols{position:static;transform: none;flex:0 0 171px;}
    .footer_info_cols{flex:1;padding:0 70px 0 0;}
    .btn_top_go{right:0;}
}

@media (max-width:1280px){
    .sv_copy_wrap{padding:60px 80px;}
    .breadcrumb_list_wrap{max-width:100%;padding:0 30px 30px; box-sizing: border-box;}
    .middle_sub_contents{padding:50px 30px; box-sizing: border-box; max-width:100%;}
}

@media (max-width:1023px){
    .bg_depth{display:none !important;}
    .util_list_wrap,
    .nav_list_wrap{display:none;}

    .header_wrap{display:block;}

    .header_wrap{height:60px; flex:0 0 60px;}
    .sub_visual_wrap{
        .header_wrap{flex:0 0 60px;}
    }
    
    .header_inner{padding:0 20px;}

    .sv_copy_wrap{max-width:100%;padding:30px 20px 40px; box-sizing: border-box;}

    .sv_copy_sub{font-size:16px;}
    .sv_copy_main{font-size:30px;}

    .sub_visual_wrap{min-height:180px;}

    .breadcrumb_list_wrap{padding:0 20px 20px;}

    .breadcrumb_ico_link{width:14px;height:14px;}
    .breadcrumb_link{font-size:13px;}

    .middle_sub_contents{padding:40px 20px 80px; }


        
    .footer_inner{padding:30px 20px;display:block;position:relative;}
    .footer_logo_cols{}
    .footer_logo{}
    .footer_info_cols{margin-top:30px; position:static;padding-right:0;}
    .footer_info_wrap{}
    .footer_info_para{}
    .footer_copy_para{}
    .footer_info_para_list{
        >li{
           
            &:after{}
            &:last-of-type{
                &:after{}
            }
        }
        .footer_info_para{}
    }
    .btn_top_go{
        width:40px;height:40px; top:20px; right:20px;
        &:before{margin-bottom:0;position:relative;top:2px;}
    }
    .btn_top_go_text{font-size:10px;}

    .footer_copy_para,
    .footer_info_para{font-size:12px;}
    .footer_copy_para{margin-top:20px;}

    .footer_info_para_list{gap:5px 14px;
        > li{
            &:after{right:-8px;height:10px;margin-top:-5px;}
        }
    }
    .footer_logo_cols{padding-right:70px;}

    .btn_panel_menu{display:flex;}
    
}