

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./webfont/Pretendard-Black.woff2') format('woff2'), url('./webfont/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./webfont/Pretendard-ExtraBold.woff2') format('woff2'), url('./webfont/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./webfont/Pretendard-Bold.woff2') format('woff2'), url('./webfont/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./webfont/Pretendard-SemiBold.woff2') format('woff2'), url('./webfont/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./webfont/Pretendard-Medium.woff2') format('woff2'), url('./webfont/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./webfont/Pretendard-Regular.woff2') format('woff2'), url('./webfont/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./webfont/Pretendard-Light.woff2') format('woff2'), url('./webfont/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./webfont/Pretendard-ExtraLight.woff2') format('woff2'), url('./webfont/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./webfont/Pretendard-Thin.woff2') format('woff2'), url('./webfont/Pretendard-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Bold.eot');
    src: url('./webfont/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Bold.woff2') format('woff2'),
         url('./webfont/NotoSans-Bold.woff') format('woff'),
         url('./webfont/NotoSans-Bold.ttf') format('truetype'),
         url('./webfont/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Regular.eot');
    src: url('./webfont/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Regular.woff2') format('woff2'),
         url('./webfont/NotoSans-Regular.woff') format('woff'),
         url('./webfont/NotoSans-Regular.ttf') format('truetype'),
         url('./webfont/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Thin.eot');
    src: url('./webfont/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Thin.woff2') format('woff2'),
         url('./webfont/NotoSans-Thin.woff') format('woff'),
         url('./webfont/NotoSans-Thin.ttf') format('truetype'),
         url('./webfont/NotoSans-Thin.svg#NotoSans-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Black.eot');
    src: url('./webfont/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Black.woff2') format('woff2'),
         url('./webfont/NotoSans-Black.woff') format('woff'),
         url('./webfont/NotoSans-Black.ttf') format('truetype'),
         url('./webfont/NotoSans-Black.svg#NotoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Light.eot');
    src: url('./webfont/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Light.woff2') format('woff2'),
         url('./webfont/NotoSans-Light.woff') format('woff'),
         url('./webfont/NotoSans-Light.ttf') format('truetype'),
         url('./webfont/NotoSans-Light.svg#NotoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-DemiLight.eot');
    src: url('./webfont/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-DemiLight.woff2') format('woff2'),
         url('./webfont/NotoSans-DemiLight.woff') format('woff'),
         url('./webfont/NotoSans-DemiLight.ttf') format('truetype'),
         url('./webfont/NotoSans-DemiLight.svg#NotoSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Medium.eot');
    src: url('./webfont/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Medium.woff2') format('woff2'),
         url('./webfont/NotoSans-Medium.woff') format('woff'),
         url('./webfont/NotoSans-Medium.ttf') format('truetype'),
         url('./webfont/NotoSans-Medium.svg#NotoSans-Light') format('svg');
    font-weight: 500;
    font-style: normal;

}

/*****************************************************************
S-CoreDream
*****************************************************************/
@font-face {
	font-family: 'S-Core1';
	src: url('./webfont/S-Core1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core2';
	src: font('./webfont/S-Core2.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core3';
	src: url('./webfont/S-Core3.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core4';
	src: url('./webfont/S-Core4.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core5';
	src: url('./webfont/S-Core5.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core6';
	src: url('./webfont/S-Core6.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core7';
	src: font('./webfont/S-Core7.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core';
	src: font('./webfont/S-Core8.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-Core';
	src: font('./webfont/S-Core9.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}